.flight-search-wrapper {
  &.flight-search-max-width {
    max-width: var(--flight-search-max-width);
    margin: 0 auto;
  }
  #flight-search {
    box-shadow: var(--shadow-md);
    border-width: 0;
    margin: 0 16px;
    background-color: var(--bg-primary);
    padding: 8px 16px 48px;
    border-radius: var(--border-radius-default);

    .flight-search-container {
      .flight-search-header {
       
        

        .fields-container {
          display: flex;
          align-items: center;
          gap: 4px;
          margin-bottom: 8px;
          .field {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-right: 4px;
            min-width: 56px;
            height: 48px;
            border-radius: var(--border-radius-sm);

            svg {
              margin: 0 8px;
              width: 20px;
              height: 20px;
              font-size: 20px;
            }

            &:hover {
              background-color: var(--bg-field-hover);
            }

            &:active {
              background-color: var(--bg-field-active);
            }
          }
        }

        .field > div {
          color: var(--field-text);
          font-size: var(--field-font-size);
          font-style: normal;
        }
      }
    }
  }
}
