:root {
  --body-text: #9aa0a6;
  --heading-text: #e8eaed;
  --field-text : #bdc1c6;
  --heading-weight: 500;
  --body-bg: #202124;
  --body-font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
  --heading-font-family: "Product Sans",Roboto,"Helvetica Neue",Arial,sans-seriff;
  //max width
  --max-width: 1248px;

  --field-font-size: 0.875rem;
  
}
